
.async_game_container {
  background-color: #e8f5e9;
  padding: 30px;
  margin: 50px auto;
  border-radius: 15px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: sans-serif;
}

.async_game_title {
  color: #388e3c;
  font-size: 28px;
  margin-bottom: 10px;
}

.async_game_description {
  font-size: 18px;
  color: #444;
  text-align: justify;
  margin-top: 20px;
  line-height: 1.8;
}

.async_game_image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 20px;
}



@media screen and (max-width: 768px) {
  .async_game_container {
    padding: 20px;
    width: 90%;
  }

  .async_game_title {
    font-size: 24px;
  }

  .async_game_description {
    font-size: 16px;
  }
}


@media screen and (max-width: 480px) {
  .async_game_container {
    padding: 15px;
    width: 95%;
  }

  .async_game_title {
    font-size: 20px;
  }

  .async_game_description {
    font-size: 15px;
  }

  .async_game_image img {
    margin-top: 15px;
  }
}
